.titulo-principal {
    text-align: center;
    background-color: #2f3783;
    color: #FFF;
    padding: 7rem;
    /*border-bottom: .5rem solid #000;*/
    transform-style: preserve-3d;
    position: relative;
}

.principal {
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 2px 2px #000;
    font-family:"OCR A Std", monospace;
}

.texto-inicial p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}

main p {
    text-align: justify;
    margin: 1em 0;
}

.secao-inicial {
    padding: 2em;
}

.botao-index {
    font-size: 1.25em;
    background-color: #2f3783;
    color: #FFF;
    padding: .5em;
    border: .01em solid black;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
   /* box-shadow: 0 0 1em black, inset 0 0 0.5em white;*/
    text-decoration: none;
  /*  transition: .5s;*/
}


.trabalhos {
    background-color: #2f3783;
    border-top: .01em solid #000;
    border-bottom: .01em solid #000;
 /*   background-image: linear-gradient(135deg, transparent, transparent 14px, rgba(0,0,0,.1) 14px, rgba(0,0,0,.1) 15px, transparent 15px, transparent); /*faz os ricos transversais*/
    background-attachment: fixed;
    background-size: 20px 20px;   
}

.trabalhos img {
    width: 100%;
    display: block;
}

.trabalhos li:first-child {
    order: 2;
    transform: scale(1.2);
}


.trabalhos li {
    /*Com isso, agora podemos usar nos elementos da lista a propriedade flex, para garantir que eles cresçam e diminuam automaticamente de acordo com o tamanho da lista e com o número de itens: */
    flex: 1;
    
    /*
    float: left;
    width: 33.333%;
    */
    border: .1em solid #000;
}

.trabalhos h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    color: #FFF;
    text-align: center;
     text-shadow: 2px 2px #000;
}
.secao-inicial h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: .5em;
}

.trabalhos ul{
    display: flex;
    list-style: none;
}




.trabalho-vertente {
    font-size: 1.25em;
    background-color: #FFF;
    color: #2f3783;
    padding: .5em;
    border: .01em solid black;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
   /* box-shadow: 0 0 1em black, inset 0 0 0.5em white;*/
    text-decoration: none;
    transition: .5s;
}


.rodape-links{
    font-size: 0.80em;
    
}

footer a{
    color: #686868;
}
footer h2{
    font-size: 1.5em;
}

.rodape-pagina {
    color: #F2FFFC;
    padding: 1em;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
 
    
    box-sizing: border-box;
    background-repeat: no-repeat;
    text-shadow: 1px 1px black;
    background-color: #000; 
 
    background-size: 25% 100%;
    position: relative;
}
.rodape-links{
    font-size: 0.80em;
    
}



.botao-index:focus,
.botao-index:hover {
    background-color: #FFF;
    color: black;
    box-shadow: 0 0 1em #2f3783;
}

.trabalho-vertente:focus,
.trabalho-vertente:hover {
    background-color: #2f3783;
    color: WHITE;
    box-shadow: 0 0 1em #FFF;
}


/*Para que esses efeitos apareçam suavemente (em meio segundo), adicionamos à classe botao-index a propriedade transition. Adicionamos também a ela a declaração para tirar o sublinhado dos botões:*/




body {
    /* sobrescreve o site.css */
    display: block;
}




.palavras-home {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}

.palavra-home {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 550%;
    color: #58ACFA;
    position: absolute;
    /*Para adicionar uma animação à lista de palavras, começamos usando a propriedade animation na lista com a classe palavra-home, na qual definimos o nome da animação que vamos criar (pode ser qualquer nome) e o tempo que ela vai levar para executar:*/
    -webkit-animation: aparece 2s;
    animation: aparece 2s;
    text-align: center;
    
}   


.iot {
    top: 50%;
    left: 10%;
    opacity: .8; /*define a opacidade do elemento 0 eh invisivel 1 totalmente visivel*/
    -webkit-transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
}
.digital {
    top: 85%;
    left: 45%;
    opacity: .7; /*define a opacidade do elemento 0 eh invisivel 1 totalmente visivel*/
    -webkit-transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
}

.clean-code {
    top: 80%;
    left: 30%;
     opacity: .4;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
}
.design {
    top: 40%;
    left: 90%;
     opacity: .4;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
}
.blockchain {
    top: 65%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
}
.artificial-intelligence {
    top: 15%;
    left: 20%;
    opacity: .8;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
}
.machine-learning {
    top: 10%;
    left: 50%;
    opacity: .6;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
}
.agile {
    top: 20%;
    left: 80%;
    opacity: .2;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(0deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(0deg) scale(.25);
}
.design-thinking {
    top: 55%;
    left: 70%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
}


.labs{
    font-family: "Shadows Into Light", cursive;
    font-weight: inherit;
    font-size: 120%;
   
}