
legend,
label[for="mensagem"] {
    font-weight: bold;
    margin-top: 1em;
}
label[for],
button {
    display: block;

}
input[type="text"],
input[type="email"],
textarea {
    font-family: inherit;
    font-size: 100%;
    padding: .25em .5em;
    width: 100%;
    box-sizing: border-box;
    
}
button {
    text-transform: uppercase;
    border: 0;
    padding: .5em 1em;
    font-family: "Open Sans", sans-serif;
    background-color: #2f3783;
    color: white;
    font-size: 1.1em;
    margin-left: 25%;
    margin-top: 1em;
    width: 50%;
}

input:required{
    
    border: 2px solid red;
    
}
input:focus,
textarea:focus {
    background-color: blaz;
}
button:focus {
    background-color: white;
    color: #2f3783;
    border: 2px solid #2f3783;
    
    
}
input[value="Outro"] + input {
    display: none;
}
input[value="Outro"]:checked + input {
    display: block;
}
fieldset{
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
}

.erro-form{
    border: 2px solid red;
}
.aceito-form{
    border: 2px solid green;
}

.popup{
    width: 400px;
    height: 100px;
    background: #e6e6e6;
    position: fixed;
    z-index: 100;
    top: 40%;
    left: 35%; 
}

.apos-popup{
    opacity: 0.5; 
}

.paragrafo-popup{
    position: absolute;
    margin:10px;
}

.link-popup{
    position: absolute;
    margin-top: 67px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.redir-popup{
    position: absolute;
    margin-top: 67px;
    margin-left: 358px;
    margin-bottom: 0px;
}