
form{
    padding-bottom: 80px;
}
legend,
label[for="mensagem"] {
    font-weight: bold;
    margin-top: 1em;
}
label[for],
button {
    display: block;

}
input[type="text"],
input[type="email"],
textarea {
    font-family: inherit;
    font-size: 100%;
    padding: .25em .5em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
button {
    text-transform: uppercase;
    border: 0;
    padding: .5em 1em;
    font-family: "Open Sans", sans-serif;
    background-color: #2f3783;
    color: white;
    font-size: 1.1em;
    margin-left: 25%;
    margin-top: 1em;
    width: 50%;
}

input:focus,
textarea:focus {
    background-color: #FFD;
}
button:focus {
    background-color: #1a28a7;
}
input[value="Outro"] + input {
    display: none;
}
input[value="Outro"]:checked + input {
    display: block;
}
fieldset{
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
}

